<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Đại học ABC</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLink="/students">Sinh viên</a>
      </li>
      <li>
        <a routerLink="/employees">Giáo viên</a>
      </li>
      <li>
        <a routerLink="/services">Nhân viên</a>
      </li>
      <li>
        <a routerLink="/contracts">Tin tức</a>
      </li>
      <li>
        <a routerLink="/detail-contracts">Hoạt động</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-light">
        <i class="fas fa-align-justify"></i>
      </button>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
